<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiBlo | Nuevo usuario</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo/favicon.ico" />
</head>
<body class="bg-biblogreen-100">
        <div class="px-8 py-8 w-full font-biblofont max-w-md md:max-w-screen-md mx-auto text-xs">
            <h1 class="text-gray-800 text-2xl font-bold tracking-wider mb-6 mt-6">Registrate en Biblo</h1>
            <form action="/users/register" method="POST">    
                <div class="bg-white px-4 py-6 rounded-md shadow-md mb-4 hover:shadow-lg md:flex md:flex-col">
                    <div class="md:flex">
                        <div class="mb-5 md:w-1/2 md:mr-3">
                            <label for="nombre" class="block text-gray-800 mb-2">Nombre</label>
                            <% if(typeof errors !== "undefined" && typeof body_data !== "undefined") { %>
                                <% if('nombre' in errors) { %>
                                    <input id="nombre" type="text" name="nombre" autofocus placeholder="Nombre" class="block text-gray-800 text-sm form-input w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300" >         
                                <% } else { %>
                                    <input id="nombre" type="text" name="nombre" value="<%= body_data.nombre %>"  placeholder="Nombre" class="block text-gray-800 text-sm form-input w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300">
                                <% } %>  
                            <% } else { %>
                                <input id="nombre" type="text" name="nombre" autofocus placeholder="Nombre" class="block text-sm text-gray-800 form-input w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300"> 
                            <% } %> 
                            <% if(typeof errors !== "undefined") { %>
                                <% if('nombre' in errors) { %>
                                    <span class="text-xs text-red-600"> <%= errors.nombre.msg %>  </span>
                                <% } %> 
                            <% } %> 
                        </div>
                        <div class="mb-5 md:w-1/2 md:ml-3">
                            <label for="Apellido" class="block text-gray-800 mb-2">Apellido</label>
                            <% if(typeof errors !== "undefined" && typeof body_data !== "undefined") { %>
                                <% if("apellido" in errors) { %>
                                    <input id="apellido" type="text" name="apellido" autofocus placeholder="Apellido" class=" text-sm text-gray-800 form-input block w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300">
                                <% } else { %>
                                    <input id="apellido" type="text" name="apellido" value= "<%= body_data.apellido %>" placeholder="Apellido" class="form-input text-gray-800 text-sm block w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300">
                                <% } %>   
                            <% } else { %>
                                <input id="apellido" type="text" name="apellido" autofocus placeholder="Apellido" class="form-input block text-gray-800 text-sm w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300"> 
                            <% } %>  
                            <% if(typeof errors !== "undefined") { %>
                                <% if('apellido' in errors) { %>
                                    <span class="text-xs text-red-600"> <%= errors.apellido.msg %>  </span>
                                <% } %> 
                            <% } %>  
                        </div>
                    </div>
                    <div class="md:flex">
                        <div class="mb-5 md:w-1/2 md:mr-3">
                            <label for="dni" class="block text-gray-800 mb-2">DNI</label>
                            <% if(typeof errors !== "undefined" && typeof body_data !== "undefined") { %>
                                <% if("dni" in errors) { %>
                                    <input id="dni" type="number" name="dni" autofocus min="00000000" max="99999999" placeholder="DNI" class="block text-gray-800 text-sm form-input w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300" >        
                                <% } else { %>
                                    <input id="dni" type="number" name="dni" value="<%= body_data.dni %>" min="00000000" max="99999999" placeholder="DNI" class="block text-gray-800 text-sm form-input w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300">
                                <% } %>   
                            <% } else { %>
                                <input id="dni" type="number" name="dni" autofocus min="00000000" max="99999999" placeholder="DNI" class="block text-gray-800 text-sm form-input w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300" >
                            <% } %> 
                            <% if(typeof errors !== "undefined") { %>
                                <% if('dni' in errors) { %>
                                    <span class="text-xs text-red-600"> <%= errors.dni.msg %>  </span>
                                <% } %> 
                            <% } %> 
                        </div>
                        <div class="mb-5 md:w-1/2 md:ml-3">
                            <label for="nacimiento" class="block text-gray-800 mb-2">Fecha de nacimiento</label>
                            <% if(typeof errors !== "undefined" && typeof body_data !== "undefined") { %>
                                <% if("nacimiento" in errors) { %>
                                    <input id="nacimiento" type="date" name="nacimiento" autofocus placeholder="Precio" class="form-input text-gray-800 text-sm block w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300"> 
                                <% } else { %>
                                    <input id="nacimiento" type="date" name="nacimiento" value="<%= body_data.nacimiento %>" placeholder="Precio" class="form-input text-gray-800 text-sm block w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300"> 
                                <% } %>   
                            <% } else { %>
                                <input id="nacimiento" type="date" name="nacimiento" autofocus placeholder="Precio" class="form-input block text-gray-800 text-sm w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300"> 
                            <% } %>  
                            <% if(typeof errors !== "undefined") { %>
                                <% if('nacimiento' in errors) { %>
                                    <span class="text-xs text-red-600"> <%= errors.nacimiento.msg %>  </span>
                                <% } %> 
                            <% } %>  
                        </div>
                    </div>
                    <div class="md:flex">
                        <div class="mb-5 md:w-1/2 md:mr-3">
                            <label for="direccion" class="block text-gray-800 mb-2">Dirección</label>
                            <% if(typeof errors !== "undefined" && typeof body_data !== "undefined") { %>
                                <% if("direccion" in errors) { %>
                                    <input id="direccion" type="text" name="direccion" autofocus placeholder="Dirección" class="block form-input text-gray-800 text-sm w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300">
                                <% } else { %>
                                    <input id="direccion" type="text" name="direccion" value="<%= body_data.direccion %>"  placeholder="Dirección" class="block text-gray-800 text-sm form-input w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300">
                                <% } %>   
                            <% } else { %>
                                <input id="direccion" type="text" name="direccion" autofocus placeholder="Dirección" class="block text-sm text-gray-800 form-input w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300">
                            <% } %> 
                            <% if(typeof errors !== "undefined") { %>
                                <% if('direccion' in errors) { %>
                                    <span class="text-xs text-red-600"> <%= errors.direccion.msg %>  </span>
                                <% } %> 
                            <% } %> 
                        </div>
                        <div class="mb-5 md:w-1/2 md:ml-3">
                            <label for="cp" class="block text-gray-800 mb-2">Código postal</label>
                            <% if(typeof errors !== "undefined" && typeof body_data !== "undefined") { %>
                                <% if("cp" in errors) { %>
                                    <input id="cp" type="text" name="cp" autofocus  placeholder="Código postal" class="form-input text-sm text-gray-800 block w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300">
                                <% } else { %>
                                    <input id="cp" type="text" name="cp" value="<%= body_data.cp %>"  placeholder="Código postal" class="form-input text-gray-800 text-sm block w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300">
                                <% } %>   
                            <% } else { %>
                                <input id="cp" type="text" name="cp"  placeholder="Código postal" class="block text-gray-800 text-sm form-input w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300">
                            <% } %>  
                            <% if(typeof errors !== "undefined") { %>
                                <% if('cp' in errors) { %>
                                    <span class="text-xs text-red-600"> <%= errors.cp.msg %>  </span>
                                <% } %> 
                            <% } %>  
                        </div>
                    </div>
                    <div class="md:flex">
                        <div class="mb-5 md:w-1/2 md:mr-3">
                            <label for="email" class="block text-gray-800 mb-2">Correo electrónico</label>
                            <% if(typeof errors !== "undefined" && typeof body_data !== "undefined") { %>
                                <% if("email" in errors) { %>
                                    <input id="email" type="email" name="email" autofocus placeholder="Correo electronico" class="block text-sm text-gray-800 form-input w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300">
                                <%} else { %>
                                    <input id="email" type="email" name="email" value="<%= body_data.email %>" placeholder="Correo electronico" class="block text-gray-800 text-sm form-input w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300">
                                <% } %>   
                            <% } else { %>
                                <input id="email" type="email" name="email" autofocus placeholder="Correo electronico" class="block text-sm text-gray-800 form-input w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300">
                            <% } %>  
                            <% if(typeof errors !== "undefined") { %>
                                <% if('email' in errors) { %>
                                    <span class="text-xs text-red-600"> <%= errors.email.msg %>  </span>
                                <% } %> 
                            <% } %> 
                        </div>
                        <div class="mb-5 md:w-1/2 md:ml-3">
                            <label for="password" class="block text-gray-800 mb-2">Contraseña</label>
                            <% if(typeof errors !== "undefined" && typeof body_data !== "undefined") { %>
                                <% if("passwors" in errors) { %>
                                    <input id="password" type="password" name="password" autofocus placeholder="Contraseña" class="block text-gray-800 text-sm form-input w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300">
                                <% } else { %>
                                    <input id="password" type="password" name="password" value= "<%= body_data.password %>" placeholder="Contraseña" class="block text-gray-800 text-sm form-input w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300">
                                <% } %>   
                            <% } else { %>
                                <input id="password" type="password" name="password" autofocus placeholder="Contraseña" class="block text-sm text-gray-800 form-input w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300">
                            <% } %>  
                            <% if(typeof errors !== "undefined") { %>
                                <% if('password' in errors) { %>
                                    <span class="text-xs text-red-600"> <%= errors.password.msg %>  </span>
                                <% } %> 
                            <% } %> 
                        </div>
                </div>
                <div>
                    <button type="submit" class="block text-sm text-gray-800 form-input w-full border-biblogreen-200 focus:shadow-biblofocus focus:border-biblogreen-300 hover:bg-biblogreen-100 tracking-widest focus:outline-none  focus:bg-biblogreen-200 duration-300">GUARDAR</button>
                </div>
                </div>
            </form>
        </div>
    </body>
    </html>